{% extends '_base.html' %}
{% block content %}
  <div class="container">
    <div class="jump-heading">
      <i class="fas fa-long-arrow-alt-left"></i> Jump to where you left off: <a href="#">Heading Goes Here</a>
    </div>
    <div class="heading-para">
      <h1>The Cake Interview Course</h1>
      <div class="short-line"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
      <div class="exe-cont">
        Give me exercises and content in:
      </div>
    </div>
    <!-- /.heading-para -->
  </div>
  <!-- /.container -->
  <!-- Section 2 -->
  <div class="row section-2">
    <div class="container heading-btn">
      <small>section: 1</small>
      <div class="row heading-boder-bottom">
        <div class="col-md-8 small-box">
          <h2>General topic</h2>
        </div>
        <div class="col-md-4 small-box btn-box">
          <button data-toggle="collapse" href="#general-topic-1" role="button" aria-expanded="true"
                  aria-controls="generalTopic1" class="general-topic-toggle-btn">
            <i class="fas fa-long-arrow-alt-up"></i> show less
          </button>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    <div class="container inner-all collapse show" id="general-topic-1">
      <small>readings:</small>
      <div class="row">
        <div class="col-md-6 inner-box-holder">
          <div class="col-md-12 inner-small-box">
            <h4>Heading</h4>
            <div class="cp-btns">
              <button><i class="far fa-file-alt"></i></button>
              <button><i class="fas fa-thumbtack"></i></button>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
            </p>
            <span><i class="fas fa-check"></i></span>
          </div>
          <!-- /.inner-small-box -->
        </div>
        <!-- /.inner-box-holder -->
        <div class="col-md-6 inner-box-holder2">
          <div class="col-md-12 inner-small-box">
            <h4>Heading</h4>
            <div class="cp-btns">
              <button><i class="far fa-file-alt"></i></button>
              <button><i class="fas fa-thumbtack"></i></button>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
            </p>
            <span><i class="fas fa-check"></i></span>
          </div>
          <!-- /.inner-small-box -->
        </div>
      </div>
      <!-- /.row -->
      <small>questions:</small>
      <div class="row">
        <div class="col-md-6 inner-box-holder">
          <div class="col-md-12 inner-small-box">
            <h4>Heading</h4>
            <div class="cp-btns">
              <button><i class="far fa-file-alt"></i></button>
              <button><i class="fas fa-thumbtack"></i></button>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
            </p>
            <span><i class="fas fa-check"></i></span>
          </div>
          <!-- /.inner-small-box -->
        </div>
        <!-- /.inner-box-holder -->
        <div class="col-md-6 inner-box-holder2">
          <div class="col-md-12 inner-small-box">
            <h4>Heading</h4>
            <div class="cp-btns">
              <button><i class="far fa-file-alt"></i></button>
              <button><i class="fas fa-book-open"></i></button>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
            </p>
            <span><i class="fas fa-check"></i></span>
          </div>
          <!-- /.inner-small-box -->
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.row -->
  <!-- Section 3 -->
  <div class="row section-3">
    <div class="container heading-btn">
      <small>section: 1</small>
      <div class="row heading-boder-bottom">
        <div class="col-md-8 small-box">
          <h2>General topic</h2>
        </div>
        <div class="col-md-4 small-box btn-box">
          <button data-toggle="collapse" href="#general-topic-2" role="button" aria-expanded="true"
                  aria-controls="generalTopic2" class="general-topic-toggle-btn"><i
            class="fas fa-long-arrow-alt-up"></i>
            show less
          </button>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    <div class="container inner-all collapse show" id="general-topic-2">
      <small>readings:</small>
      <div class="row">
        <div class="col-md-6 inner-box-holder">
          <div class="col-md-12 inner-small-box inner-small-box-sec3">
            <h4>Heading</h4>
            <div class="cp-btns">
              <button><i class="far fa-file-alt"></i></button>
              <button><i class="fas fa-thumbtack"></i></button>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
            </p>
            <span><i class="fas fa-check"></i></span>
          </div>
          <!-- /.inner-small-box -->
        </div>
        <!-- /.inner-box-holder -->
        <div class="col-md-6 inner-box-holder2">
          <div class="col-md-12 inner-small-box inner-small-box-sec3">
            <h4>Heading</h4>
            <div class="cp-btns">
              <button><i class="far fa-file-alt"></i></button>
              <button><i class="fas fa-thumbtack"></i></button>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
            </p>
            <span><i class="fas fa-check"></i></span>
          </div>
          <!-- /.inner-small-box -->
        </div>
      </div>
      <!-- /.row -->
      <small>questions:</small>
      <div class="row">
        <div class="col-md-6 inner-box-holder">
          <div class="col-md-12 inner-small-box inner-small-box-sec3">
            <h4>Heading</h4>
            <div class="cp-btns">
              <button><i class="far fa-file-alt"></i></button>
              <button><i class="fas fa-thumbtack"></i></button>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
            </p>
            <span><i class="fas fa-check"></i></span>
          </div>
          <!-- /.inner-small-box -->
        </div>
        <!-- /.inner-box-holder -->
        <div class="col-md-6 inner-box-holder2">
          <div class="col-md-12 inner-small-box inner-small-box-sec3">
            <h4>Heading</h4>
            <div class="cp-btns">
              <button><i class="far fa-file-alt"></i></button>
              <button><i class="fas fa-book-open"></i></button>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
            </p>
            <span><i class="fas fa-check"></i></span>
          </div>
          <!-- /.inner-small-box -->
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.row -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% endblock %}
